@modelCriandoWebApp.Models.modelo_Pedido
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@ViewData["chave1"]</p>
<p>@ViewData["chave2"]</p>
<p>@ViewData["chave3"]</p>
@ViewBag.IdPedido,@ViewBag.chave1,@ViewBag.numero

<p>@model.nome - @model.CodCliente</p>
